/***** Colors *****/
$variation : 30%;
$main-blue : hsla(205, 100%, 56.5%, 1);
$light-blue : lighten($main-blue, $variation);
$dark-blue : darken($main-blue, $variation);
$main-green : hsla(100, 67.5%, 44.7%, 1);
$light-green : lighten($main-green, $variation);
$dark-green : darken($main-green, $variation);
$main-brown : hsla(20, 50%, 40.2%, 1);
$light-brown : lighten($main-brown, $variation);
$dark-brown : darken($main-brown, $variation);
$main-teal : hsla(142, 74.5%, 50.8%, 1);
$light-teal : lighten($main-teal, $variation);
$dark-teal : darken($main-teal, $variation);
$main-gold : hsla(51, 72%, 42%, 1);
$light-gold : lighten($main-gold, $variation);
$dark-gold : darken($main-gold, $variation);
$selected-color : lighten($main-gold, 15%);
/***** Variables *****/
$menubar-height: 56px;


/***** Body *****/
body{
    margin: 0 auto;
    background: $main-brown;
    font-size: 100%;
    font-family: sans-serif;
}

#wrapper {
    position: relative;
    top: $menubar-height; /* Offset for menubar at top*/
    width: 100%;
    overflow: hidden;
}


/***** Header & Menubar *****/
header{
    position: relative;
    
    #logo-wrapper{
        padding:10px;
    }
    #logo-picture {
        position:relative;
        background-image: url(/images/compressed/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 459px / 1180px * 100%; /* (img-height / img-width * container-width) */
    }
    #logo-link{
        position:absolute;
        top:0;
        width: 100%;
        height: 100%;
         /* Hide the text. */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}

.menubar{
    $menubar-background: $dark-teal;
    $menubar-foreground: $main-gold;
    $icon-size: $menubar-height/7*3;
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
    height:$menubar-height;
    width:100%;
    background: $menubar-background;
    @include box-shadow(1px 1px 4px 1px black);
    .page-category{
        height: 100%;
        overflow-y: auto;
        padding: 3px 0 3px 3px;
        div{
                height: 100%;
                display: table;
                span{
                    color: $light-gold;
                    display: table-cell;
                    vertical-align: middle;
                }
        }
    }
    nav {
        height: 100%;
        width: auto;
        float:right;
    }
    @at-root .icon-box{
        float:right;
        height:56px;
        width:$menubar-height;
        padding: $menubar-height/7*2;
        &.home>div{
            $house-color: $menubar-foreground;
            /* roof */
            position: relative;
            width:0;
            height:0;
            border-left:$icon-size/2 solid transparent;
            border-right: $icon-size/2 solid transparent;
            border-bottom: $icon-size/2*5/4 solid $house-color;
            &:before{
                /* chimney */
                content: "";
                position: absolute;
                left:-$icon-size/3;
                top:$icon-size/12;
                height:$icon-size/2 - 2px;
                width:$icon-size/6;
                background: $house-color;
            }
            &:after{
                /* house */
                content: "";
                position: absolute;
                left:-$icon-size/3;
                top:$icon-size/2 - 1px;
                height:$icon-size/2 + 1px;
                width:$icon-size*2/3;
                background: $house-color;
            }
        }
        &.menu>div{
            $menu-color: $menubar-foreground;
            /* top bar */
            position:relative;
            background: $menu-color;
            height:$icon-size/4;
            width: $icon-size;
            &:before{
                /* middle bar */
                content: "";
                position: absolute;
                top:$icon-size/4 + $icon-size/4/2;
                height:$icon-size/4;
                width:$icon-size;
                background: $menu-color;
            }
            &:after{
                /* bottom bar */
                content: "";
                position: absolute;
                top:$icon-size/2 + $icon-size/4;
                height:$icon-size/4;
                width:$icon-size;
                background: $menu-color;
            }
        }
        &.top>div{
            $top-color: $menubar-foreground;
            /* arrowhead */
            position: relative;
            left:$icon-size/6;
            width:0;
            height:0;
            border-left:$icon-size/3 solid transparent;
            border-right: $icon-size/3 solid transparent;
            border-bottom: $icon-size/2 solid $top-color;
            &:before{
                /* vertical bar */
                border-bottom-left-radius: $icon-size/5;
                content: "";
                position: absolute;
                top:$icon-size/2 - 2px;
                left:-$icon-size/8;
                height:$icon-size/2 + 2px;
                width:$icon-size/4;
                background: $top-color;
            }
            &:after{
                /* horizontal bar */
                content: "";
                position: absolute;
                top:$icon-size*3/4;
                height:$icon-size/4;
                width:$icon-size/3;
                background: $top-color;
            }
        }
    }
}

/***** Articles *****/
article {
    position:relative;
    
    img{
        max-width: 100% !important;
        height: auto !important;
    }

    .improve{
        display: none;
    }

    .content{
        padding:5px 5px;
        background: $light-blue;
        @include box-shadow(0 1px 6px 1px $dark-brown);

        .center{
            text-align:center;
        }
        .blue{
            color:$main-blue;
            &.dark{
                color:$dark-blue;
            }
            &.light{
                color:$light-blue;
            }
        }
        .green{
            color:$main-green;
            &.dark{
                color:$dark-green;
            }
            &.light{
                color:$light-green;
            }
        }
        .teal{
            color:$main-teal;
            &.dark{
                color:$dark-teal;
            }
            &.light{
                color:$light-teal;
            }
        }
        .brown{
            color:$main-brown;
            &.dark{
                color:$dark-brown;
            }
            &.light{
                color:$light-brown;
            }
        }
        .gold{
            color:$main-gold;
            &.dark{
                color:$dark-gold;
            }
            &.light{
                color:$light-gold;
            }
        }

        ol{
            counter-reset: item;
            h2, h3, h4, h5{
                display: inline-block;
                margin: 0;
            }
        }
        ol > li{
            display: block;
            position: relative;
            margin-top: 2px;
        }
        ol > li:before{
            content: counters(item, ".") ") "; 
            counter-increment: item;
            position:absolute;
            right: 100%;
            margin: 0 7px 0 0;
        }
        h3 ~ *:last-child {
            margin-bottom: 25px;
        }
        h3 + *{
            margin-top:10px;
        }
        h4 ~ *:last-child {
            margin-bottom: 20px;
        }
        h4 + *{
            margin-top:5px;
        }
    }
}

/***** Title banners *****/
.title-banner{
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    text-align: center;
    color: $light-gold;
    background: $dark-teal;
    padding: 3px 5px;
    @include box-shadow(0 2px 7px 0px black);
    &:before{
        /* Bottom left triangle */
        content: "";
        position: absolute;
        left:0;
        bottom: -30px;
        height:0;
        width:0;
        border-top: 30px solid $dark-green;
        border-left: 10px solid transparent;
    }
    &:after{
        /* Bottom right triangle */
        content: "";
        position: absolute;
        right:0;
        bottom: -30px;
        height:0;
        width:0;
        border-top: 30px solid $dark-green;
        border-right: 10px solid transparent;
    }
}
.title-banner-content{
    position: relative;
    padding: 0 10px;
}

/***** Sidebar *****/
.sidebar {
    position: relative;
    z-index: 2;

    .category-wrapper{
        position: fixed;
        top:56px;
        bottom: 0;
        left:0;
        right:0;
        overflow: auto;
        background-color: hsla(0, 0, 0, 0.3);
    }

    .title-banner{
        display: none;
    }

    label{
        cursor:pointer;
        input, &+input {
            display: none;
        }
    }

    label#menu-toggle{
        position:fixed;
        
        top:0;
        right:0;
        height:56px;
        width:56px;
        &+input+.category-wrapper {
            display: none;
        }
        &+input:checked + .category-wrapper {
            display: block;
        }
    }
    .categories{
        $category-color: $dark-green;
        position: relative;
        @include box-shadow(0 4px 8px -1px black);

        label{
            position: relative;
            min-height: 56px;
            width:100%;
            text-align: center;

            &:not(:last-of-type) div{
                border-bottom: 1px dashed $main-gold;
            }
            div{
                position: relative;
                padding: 3px;
                
                width: 100%;
                height: 56px;
                display: table;
                background:$dark-green;
                span{
                    color: $light-gold;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        .links {
            text-align: left;
            padding:0;
            margin: 0;
            list-style: none;
            width: 100%;
            background: $light-gold;
            &:first-child{                
                @include box-shadow(0 7px 4px -6px black inset, 0 -6px 4px -6px black inset);
                a{
                    margin: 4px 0;
                }
            }
            a {
                display: inline-block;
                &.current li{                    
                    border-top: 2px dotted $main-gold;
                    border-bottom: 2px dotted $main-gold;
                    background: $selected-color;
                    &:hover{
                        background: darken($selected-color, $amount: 7%);
                    }
                }
                li {
                    position: relative;
                    padding: 7px 5px;
                    
                    &:hover{
                        background: darken($light-gold, $amount: 7%);
                    }                
                }
            }

        }
        input + .links{
            a {
                display: block;
                &:first-child li{
                    border-top: none;
                    &:after{
                        content: "";
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        @include box-shadow(0 7px 4px -6px black inset);
                    }
                }
                &:last-child li{
                    border-bottom: none;
                    @include box-shadow(0 -6px 4px -6px black inset);
                }
            }
            display: none;
        }
        input:checked + .links {
            display: block;
        }
    }
}

/* Remove top menubar to the side */
/* Move to-top icon to lower right corner */    
/* Make article take up 2/3, and sidebar 1/3 */
@media only screen and (min-width: 700px){

    #wrapper{
        top:0;
    }

    article{
        .content{
            padding:10px 20px;
        }
    }

    .content-wrapper{   
        float: left;
        padding: 5px 5px 0 5px;
        
        &.left{
            width: 2/3 * 100%;
        }
        &.right{
            width: 1/3 * 100%;
        }
    }

    .menubar{
        display: static;
        position: relative;
        .menu{
            display: none;
        }
        .top{
            position: fixed;
            bottom: 15px;
            right: 15px;
            border-radius: 50%;
            background: $dark-teal;
            @include box-shadow( 1px 1px 4px 0 $light-blue);
        }
    }

    .grid{
        max-width: 825px + 300px;
        margin: 0 auto;
    }

    .improve{
        display: block !important;
        float: right;
        a{
            display: inline-block;
            height: 100%;
            padding: 0.1em 0.3em 0 0.2em;
            border-radius: .5em;
            background: desaturate(darken($light-blue,5%), 20%);
            @include box-shadow(0 1px 4px 0 desaturate(darken($main-blue,8%), 50%) inset);
            margin: 5px 0 0 0;
            .icon-pencil{
                padding-top: 4px;
                max-height: 2em;
                max-width: 2em;
            }
            .icon-pencil+span{
                display: inline-block;
                max-width: 0;
                overflow: hidden;
                white-space: nowrap;
                @include transition(max-width .5s ease-out);
            }
            &:hover .icon-pencil+span{
                max-width: 200px;
                @include transition(max-width .5s ease-out);
            }
        }
        @at-root .icon-pencil:before{
            display: inline-block;
            text-align: right; 
            content: "\270E";
            font-size: 1.6em;
        }
    }

    .sidebar{
        z-index: initial;

        .category-wrapper{
            background: initial;
            display: block !important;
            position: static;
            overflow: initial;
        }
        #menu-toggle{
            display: none;
        }
        .title-banner{
            display: block;
        }
        .title-banner-content{
            .category:first-of-type>div{
                @include box-shadow(0 7px 4px -6px black inset);
            }
        }

        .categories{
            display: block;
            position: static;
            .links{
                &:first-child{
                    @include box-shadow(none);
                    a{
                        margin: initial;
                    }
                }
                a{
                    display: block;
                    &:first-child li{
                        border-top: none;
                        &:after{
                            content: "";
                            position: absolute;
                            top:0;
                            left:-5px;
                            width: 105%;
                            height: 100%;
                            @include box-shadow(0 7px 4px -6px black inset);
                        }
                    }
                    &:last-child li{
                        border-bottom: none;
                        @include box-shadow(0 -6px 4px -6px black inset);
                    }
                }
            }

            .current{
                position: relative;
                &:before{
                    bottom:50%;
                    border-top: 1em solid transparent;
                    border-right: 30px solid $selected-color;
                }
                &:after{
                    top:50%;
                    border-bottom: 1em solid transparent;
                    border-right: 30px solid $selected-color;
                }
                &:after, &:before{
                    content:'';
                    position: absolute;
                    left:-30px;
                    width:0;
                    height:0;
                    z-index: 1;
                }
                &:hover{
                    &:after, &:before{
                        border-right-color: darken($color: $selected-color, $amount: 7%);
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 1000px){

    .content-wrapper{        
        &.left{
            width: 3/4 * 100%;
        }
        &.right{
            width: 1/4 * 100%;
        }
    }

    article{
        .content{
            padding:10px 30px;
            font-size: 1.1em;
        }
    }
}
