/***** Colors *****/
$variation : 30%;
$main-blue : hsla(205, 100%, 56.5%, 1);
$light-blue : lighten($main-blue, $variation);
$dark-blue : darken($main-blue, $variation);
$main-green : hsla(100, 67.5%, 44.7%, 1);
$light-green : lighten($main-green, $variation);
$dark-green : darken($main-green, $variation);
$main-brown : hsla(20, 50%, 40.2%, 1);
$light-brown : lighten($main-brown, $variation);
$dark-brown : darken($main-brown, $variation);
$main-teal : hsla(142, 74.5%, 50.8%, 1);
$light-teal : lighten($main-teal, $variation);
$dark-teal : darken($main-teal, $variation);
$main-gold : hsla(51, 72%, 42%, 1);
$light-gold : lighten($main-gold, $variation);
$dark-gold : darken($main-gold, $variation);

/***** Variables *****/
$menubar-height: 56px;


/***** Body *****/
body{
    margin: 0 auto;
    max-width: 999px;
    background: $main-brown;
}

#wrapper {
    position: relative;
    top: $menubar-height; /* Offset for menubar at top*/
    width: 100%;
    overflow: hidden;
}


/***** Header & Menubar *****/
header{
    position: relative;
    
    #logo-wrapper{
        padding:10px;
    }
    #logo-picture {
        position:relative;
        background-image: url(/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 459px / 1180px * 100%; /* (img-height / img-width * container-width) */
    }
    #logo-link{
        position:absolute;
        top:0;
        width: 100%;
        height: 100%;
         /* Hide the text. */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}

.menubar{
    $menubar-background: $dark-teal;
    $menubar-foreground: $main-gold;
    $icon-size: $menubar-height/7*3;
    position: fixed;
    z-index: 3;
    top:0;
    left:0;
    height:$menubar-height;
    width:100%;
    background: $menubar-background;
    @include box-shadow(1px 1px 4px 1px black);
    .page-category{
        height: 100%;
        overflow-y: auto;
        padding: 3px 0 3px 3px;
        div{
                height: 100%;
                display: table;
                span{
                    color: $light-gold;
                    display: table-cell;
                    vertical-align: middle;
                }
        }
    }
    .icon-box{
        display: inherit;
        float:right;
        position: relative;
        height:100%;
        width:$menubar-height;
        padding: $menubar-height/7*2;
    }
    .home-icon{
        $house-color: $menubar-foreground;
        /* roof */
        position: relative;
        width:0;
        height:0;
        border-left:$icon-size/2 solid transparent;
        border-right: $icon-size/2 solid transparent;
        border-bottom: $icon-size/2*5/4 solid $house-color;
        &:before{
            /* chimney */
            content: "";
            position: absolute;
            left:-$icon-size/3;
            top:$icon-size/12;
            height:$icon-size/2 - 2px;
            width:$icon-size/6;
            background: $house-color;
        }
        &:after{
            /* house */
            content: "";
            position: absolute;
            left:-$icon-size/3;
            top:$icon-size/2 - 1px;
            height:$icon-size/2 + 1px;
            width:$icon-size*2/3;
            background: $house-color;
        }
    }
    .menu-icon{
        $menu-color: $menubar-foreground;
        /* top bar */
        position:relative;
        background: $menu-color;
        height:$icon-size/4;
        width: $icon-size;
        &:before{
            /* middle bar */
            content: "";
            position: absolute;
            top:$icon-size/4 + $icon-size/4/2;
            height:$icon-size/4;
            width:$icon-size;
            background: $menu-color;
        }
        &:after{
            /* bottom bar */
            content: "";
            position: absolute;
            top:$icon-size/2 + $icon-size/4;
            height:$icon-size/4;
            width:$icon-size;
            background: $menu-color;
        }
    }
    .top-icon{
        $top-color: $menubar-foreground;
        /* arrowhead */
        position: relative;
        left:$icon-size/4;
        width:0;
        height:0;
        border-left:$icon-size/3 solid transparent;
        border-right: $icon-size/3 solid transparent;
        border-bottom: $icon-size/2 solid $top-color;
        &:before{
            /* vertical bar */
            border-bottom-left-radius: $icon-size/5;
            content: "";
            position: absolute;
            top:$icon-size/2 - 2px;
            left:-$icon-size/8;
            height:$icon-size/2 + 2px;
            width:$icon-size/4;
            background: $top-color;
        }
        &:after{
            /* horizontal bar */
            content: "";
            position: absolute;
            top:$icon-size*3/4;
            height:$icon-size/4;
            width:$icon-size/3;
            background: $top-color;
        }
    }
}

/***** Articles *****/
article {
    position:relative;
    background: $light-blue;
    
    img, span{
    max-width: 100% !important;
    height: auto !important;
    }

    /* Shadow */
    &:after, &:before{
        display: none;
        
        content: "";
        height: 100%;        
        width: 20px;
        position: absolute;
        top: 0;
    }

    $shadow-color: $dark-blue;
    &:before{
        left: -20px;
        box-shadow: -15px 0 20px -15px $shadow-color inset;
    }

    &:after{
        right: -20px;
        box-shadow: 15px 0 20px -15px $shadow-color inset;
    }
}

/***** Sidebar *****/
.sidebar {
    position: relative;

    label{
        cursor:pointer;
        input, &+input {
            display: none;
        }
    }

    label#menu-toggle{
        position:fixed;
        z-index: 4;
        top:0;
        right:0;
        height:56px;
        width:56px;
        &+input:checked + .categories {
            display: block;
        }
    }

    .categories{
        $category-color: $dark-green;
        position:fixed;
        z-index: 2;
        top:56px;
        bottom: 0;
        left:0;
        right:0;
        overflow: auto;
        display: none;

        label{
            position: relative;
            float:left;
            width:100%;
            text-align: center;

            &:after{
                z-index: 1;
                content:'';
                position: absolute;
                left:0;
                width: 100%;
                height:100%;
                top:0;
                @include box-shadow(0 1px 4px 1px black);
            }

            &:not(:last-of-type) div{
                border-bottom: 1px dashed $main-gold;
            }     
            div {
                position: relative;
                z-index: 2;
                padding: 0 5px;
                background:$dark-green;
                display: block;
                height:56px;       
                span{
                    color: $light-gold;
                    display: block;
                    height: 100%;
                    width: 100%;
                    line-height: 56px;
                    font-size: 1.2em;
                    vertical-align: middle;
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;
                }
            }
        }

        input:checked + .links {
            display: block;
        }

        .links {
            float:left;
            width: 100%;
            text-align: left;
            padding:0;
            margin: 0;
            list-style: none;
            background:indigo;
            display: none;
            z-index: 0;
            li {
                position: relative;
                padding: 7px 5px;
                background: $light-gold;
            }
        }
    }
}

/* Remove top menubar to the side */
/* Move to-top icon to lower right corner */    
/* Make article take up 2/3, and sidebar 1/3 */
@media only screen and (min-width: 601px){




}