/* Background */

// html {
//     background: url(/images/sky-bg.png) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }


/* Articles */

div.article::before{
    z-index: 1;
    box-shadow: -15px 0 20px -15px rgba(0, 28, 120, 0.9) inset;
    content: " ";
    height: 100%;
    left: -20px;
    position: absolute;
    top: 0;
    width: 20px;
}

div.article::after{
    z-index: 4;
    box-shadow: 15px 0 20px -15px rgba(0, 28, 120, 0.9) inset;
    content: " ";
    height: 100%;
    right: -20px;
    position: absolute;
    top: 0;
    width: 20px;
}

div.article {
    position:relative;
    background: rgba(163, 220, 243, 1);
    
    img, span{
    max-width: 100% !important;
    height: auto !important;
    }
}



/* Sidebar */

.sidebar {
    position: relative;
    z-index: 99;
    label {
        float:left;
        margin:4px;
        background-color:chocolate;
        border-radius:15px;
        border:3px solid #D0D0D0;
        overflow:auto;
        cursor:pointer;

        ul {
            display: none;
        }

        input {
            display: none;
        }

        input:checked ~ ul {
            display: block;
        }
    }
}